{#
| Variable    | Type    | Description                                                      |
|-------------|---------|------------------------------------------------------------------|
| url         | string  |                                                                  |
| image.url   | string  |                                                                  |
| image.alt   | ?string |                                                                  |
| position    | Int     | Sorting number start from zero                                   |
#}
<section class="s-block s-block--fixed-banner wide-placeholder p-0 m-0 w-full">
    <a href="{{ url }}" class="banner banner--fixed overflow-hidden w-full flex justify-center" aria-label="Banner {{ image.alt }}">
        <img width="1300" height="800" class="max-w-full h-auto" src="{{ image.url }}" alt="{{ image.alt|trim ? image.alt : 'fixed banner' }}"/>
    </a>
</section>
