{# Salla text zone component - dynamic and translatable #}
<div class="s-text-zone">
  {% if block.settings.title %}
    <h2 class="s-text-zone__title">{{ block.settings.title }}</h2>
  {% endif %}
  {% if block.settings.string %}
    <div class="s-text-zone__string">{{ block.settings.string }}</div>
  {% endif %}
  {% if block.settings.text_area %}
    <div class="s-text-zone__text">{{ block.settings.text_area|raw }}</div>
  {% endif %}
</div>